/* Display larger thumbnail on admin/items/show.php */
.admin-thumb:first-child {
    width: 264px;
    height: 100%;
}

.admin-thumb {
    width: 60px;
    height: 80px;
}

.admin-thumb.panel {
    border-top: 0;
    padding: 4px 4px 4px 4px;
    background-color: transparent;
}

.admin-thumb.panel img {
    padding-bottom: 0;
}

#item-images .admin-thumb {
    margin: 0 8px 8px 0;
}

#item-images .admin-thumb:nth-of-type(4) {
    /* Override Omeka styling of the 4th thumb */
    margin: 0 8px 8px 0;
}

/* Hide the Collection dropdown on admin/items/edit.php */
#collection-form {
    display:none;
}

/* Hide the Collection panel on admin/items/show.php */
.collection.panel {
    display:none;
}

/* Hide the header on admin/items/edit.php because it shows Omeka item number */
.items.edit h1#content-heading.section-title {
    visibility: hidden;
}

/* Display larger thumbnail on admin/items/browse.php */
.items.browse a.item-thumbnail {
    width: 100px;
}

/* The user name of the person who created an item on admin/items/show.php */
.item-owner {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Hide the display of Featured on admin/items/edit.php */
#public-featured div.featured {
    display:none;
}

/* Hide the public/featured panel on admin/items/show.php */
.public-featured {
    display:none;
}

#public-featured {
    text-align: left;
}

.public-item,
.private-item {
    padding: 8px 8px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.private-item {
    background-color: #e5e5e5;
    border-color: #d70000;
}

