/* Display larger thumbnail on admin/items/show.php */
.admin-thumb:first-child {
    width: 264px;
    height: 100%;
}

.admin-thumb {
    width: 60px;
    height: 80px;
}

.admin-thumb.panel {
    border-top: 0;
    padding: 4px 4px 4px 4px;
    background-color: transparent;
}

.admin-thumb.panel img {
    padding-bottom: 0;
}

#item-images .admin-thumb {
    margin: 0 8px 8px 0;
}

#item-images .admin-thumb:nth-of-type(4) {
    /* Override Omeka styling of the 4th thumb */
    margin: 0 8px 8px 0;
}

/* Hide the Collection dropdown on admin/items/edit.php */
#collection-form {
    display:none;
}

/* Hide the Delete button on the admin/items/edit.php */
body.items.edit a.delete-confirm.big.red.button {
    display: none;
}

/* Hide the Collection panel on admin/items/show.php */
.collection.panel {
    display:none;
}

/* Hide the header on admin/items/edit.php because it shows Omeka item number */
.items.edit h1#content-heading.section-title {
    visibility: hidden;
}

/* Display larger thumbnail on admin/items/browse.php */
.items.browse a.item-thumbnail {
    width: 100px;
}

/* The user name of the person who created an item on admin/items/show.php */
.item-owner {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Hide the display of Featured on admin/items/edit.php */
#public-featured div.featured {
    display:none;
}

/* Hide the public/featured panel on admin/items/show.php */
.public-featured {
    display:none;
}

#public-featured {
    text-align: left;
}

.public-item,
.private-item {
    padding: 8px 8px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.private-item {
    background-color: #e5e5e5;
    border-color: #d70000;
}

a.add-new-item {
    font-weight: bold;
    font-size: 16px;
    color:green !important;
}

/* Use the same admin orange color for visited and unvisited links. */
.element-set a:visited {
    color: #E57F52;
}

/* The error that appears at the top of admin pages. The style must be here
   instead of in the theme because this styling overrides the admin theme. */
.error {
    color: #ff0000;
    font-size: 18px;
}

.field-separator {
    background-color: #9d5b41;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 4px 0 4px 8px;
}

.ui-sortable .deleted.sortable-item {
    background-image: linear-gradient(to bottom, #e3b200, #deaa1f);;
}

#relationships-editor-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto 1fr 25%;
    grid-template-areas:
            "image metadata buttons";
}

.relationships-editor-buttons {
    grid-area: buttons;
    margin-top: 4px;
}

.relationships-editor-image {
    grid-area: image;
    max-width: 100%;
}

.relationships-editor-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.relationships-editor-metadata {
    line-height: 22px;
    grid-area: metadata;
    color: #777;
}

#relationship-editor-recents {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 146px 1fr;
    grid-template-areas:
            "relationship item";
    margin-left: 4px;
    padding-top: 4px;
}

#relationships-editor-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto 1fr 25%;
    grid-template-areas:
            "image metadata buttons";
}

#relationship-editor-add-instructions {
    background-color: white;
    margin-bottom: 12px;
    padding: 10px 0;
    border: #588caf solid 2px;
    border-radius: 6px;
}

#relationship-editor-add-header {
    text-align: left;
    margin-left: 12px;
    margin-bottom: 8px;
}

#relationship-editor-add-footer {
    text-align: left;
    margin-left: 12px;
    margin-top: 8px;
}

#relationship-editor-add {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-areas:
            "source relationship target";
    align-items: center;
    color: #2c2c2c;
    /*background-color: #ece3ca;*/
    padding: 0 8px;
    font-size: 15px;
}

#relationship-editor-add span {
    font-weight: bold;
}

#relationship-editor-add-source {
    grid-area: source;
    text-align: right;
    padding-left: 24px;
    padding-right: 12px;
}

#relationship-editor-add-relationship {
    grid-area: relationship;
    text-align: center;
}

#relationship-editor-add-target {
    grid-area: target;
    padding-left: 12px;
}

#relationship-editor-busy {
    display: none;
    background: #3062a5;
    opacity: 0.80;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    max-width: 400px;
    z-index: 1000;
    border: #588caf solid 2px;
    border-radius: 15px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 60%;
}

a.button.beige, input[type=submit].blue, button.beige {
    background: #c3ac72;
    background: -webkit-linear-gradient(top, #c3ac72, #927b4b);
    background: -moz-linear-gradient(top, #c3ac72, #927b4b);
    background: -o-linear-gradient(top, #c3ac72, #927b4b);
    background: linear-gradient(to bottom, #c3ac72, #927b4b);
    -webkit-box-shadow: 0px 1px 0px 0px #bab198 inset, 0px -1px 0px 0px #c3baa1 inset, 0px 2px 2px 0px #d4d4d4;
    -moz-box-shadow: 0px 1px 0px 0px #bab198 inset, 0px -1px 0px 0px #c3baa1 inset, 0px 2px 2px 0px #d4d4d4;
    box-shadow: 0px 1px 0px 0px #bab198 inset, 0px -1px 0px 0px #c3baa1 inset, 0px 2px 2px 0px #d4d4d4;
    border: 1px solid #927b4b;
}

table.relationships-editor-table td
{
    padding: 0 0 0 8px;
    vertical-align: middle;
}

a:visited {
    color: #E57F52;
}

a.button.small,
a.button.big {
    color: white;
}

/* Hide the Omeka batch edit options to prevent an admin from using them. */
/* Batch editing conflicts with Elasticseach logic that depends on knowing then edits and deletes have occurred. */
.batch-edit-option,
.batch-edit-check,
.batch-edit-heading {
    display: none;
}

.batch-all-toggle {
    display: none;
}